* {
    box-sizing: border-box;
}

body {
    margin: 80px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin: auto;
}

#image {
    max-width: 100%;
}

h1 {text-align: center;}

.sub {
    text-align: center;
    font-size: 20px;
}

.rev {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin: 0;
}
    
